/* BEGIN GENERAL */

/* BEGIN PADDING MARGIN GAP REM */

/* END PADDING MARGIN GAP REM */

/* BEGIN COLORS */

:root {
  --primary: #186DE4;
  --secondary: #D91A3C;
  --negative: #EE5151;
  --possitive: #00966D;
  --average: #FF902B;
  --dark: #084CAB;
  --gray: #BDBDBD;
  --grayscale: #4E4B66;
  --gray-text: #A9AEBA;
  --bg-main: #FDFDFF;
  --bg-secondary: #F6F9FF;
  --bg-grayscale: #F7F7FC;
  --text: #161515;
  --white-content: #fff;
  --active-breadcrumbs: #0047BB;
  --inactive-breadcrumbs: #99B5E4;
  --light-black: #373F41;
  --warning: #CCDAF1;
  --border-line: #D9DBE9;
  --ts: 0.3s;
}

/* END COLORS */

/* BEGIN FONTS */

/* END FONTS */

/* END GENERAL */

/* BEGIN FUNCTIONS */

/* END FUNCTIONS */

/* BEGIN VENDORS */

/* BEGIN INCLUDES */

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */

/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* BEGIN TYPOGRAPHY STYLES */

/* Headings
***********/

/* Switch to rem units for headings */

/* @@@ Initial values are based on existing browser defaults */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

/* Keep h1 margins consistent, even when nested */

h1 {
  margin-bottom: 20px;
}

/* Typography
*************/

/* Overflow by default is bad */

pre {
  white-space: pre-wrap;
}

p {
  margin: 0 0 0.67em;
}

a {
  text-decoration: none;
  background-color: transparent;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0.67em;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

/*
* 1. Solid, thin horizontal rules
* 2. Remove Firefox `color: gray`
* 3. Remove default `1px` height, and common `overflow: hidden`
*/

hr {
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  border: 0;
  border-top: 1px solid #eee;
}

/* Embedded Elements
********************/

/*
* 1. Block display is usually what we want
* 2. Remove strange space-below when inline
* 3. Responsive by default
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

/*
* Maintain intrinsic aspect ratios when `max-width` is applied
* (iframe, embed, and object have no intrinsic ratio, set height explicitly)
*/

img,
svg,
video,
canvas {
  height: auto;
}

/*
* There is no good reason elements default to 300px,
* and audio files are unlikely to come with a width attribute
*/

audio {
  width: 100%;
}

/* Old Browsers
***************/

/* Remove the border on images inside links in IE 10 and earlier */

img {
  border-style: none;
}

/* Hide the overflow in IE 10 and earlier */

svg {
  overflow: hidden;
}

/*
* 1. Add the correct box sizing in IE 10
* 2. Remove the padding in IE 10
*/

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* END TYPOGRAPHY STYLES */

/* BEGIN CONTAINER SETTINGS */

/* END CONTAINER SETTINGS */

/* END INCLUDES */

/* END VENDORS */

/* BEGIN FONTS */

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* END FONTS */

/* BEGIN MIXINS */

/* END MIXINS */

/* BEGIN STYLES */

.header {
  padding: 17px 0 7px;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(32, 61, 165, 0.15);
  transition: var(--ts);
}

.header.active {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  padding: 24px;
  top: 63.64px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 10;
}

.header__nav:not(.hidden) ~ .header__mob .header__search,
.header__nav:not(.hidden) ~ .header__mob .header__phone {
  visibility: hidden;
  opacity: 0;
}

.header__nav .header__contact {
  order: 1;
  margin-bottom: 40px;
}

.header__nav .header__contact .btn {
  width: -moz-max-content;
  width: max-content;
}

.header__nav .header__center {
  display: flex;
  flex-direction: column;
  order: 2;
}

.header__nav .header__info {
  order: 2;
}

.header__nav .header__menu {
  order: 1;
  margin-bottom: 40px;
}

.header__search {
  transition: var(--ts);
}

.header__city {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 12px;
}

.header__call {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.header__time {
  color: var(--secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: var(--ts);
}

.header__phone:hover {
  color: var(--secondary);
}

.header__phone--mob span {
  display: none;
}

.header__menu .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 0;
}

.header__menu .menu > .menu-item-has-children {
  flex-direction: column;
}

.header__menu .menu .menu-item-has-children {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.header__menu .menu .menu-item-has-children > a {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__menu .menu .sub-menu .menu-item {
  margin-bottom: 8px;
}

.header__menu .menu .sub-menu .menu-item:last-child {
  margin-bottom: 0;
}

.header__menu .menu .menu-item {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  transition: var(--ts);
}

.header__menu .menu > .menu-item-has-children > .toggle-button {
  background-image: url(../img/svg/svg/arrow-mobile.svg);
  transform: rotate(-90deg);
  transition: var(--ts);
}

.header__menu .menu > .menu-item-has-children > .toggle-button.active {
  transform: rotate(0);
}

.header__menu .menu > .menu-item-has-children > .sub-menu {
  transition: var(--ts);
}

.header__search {
  display: none;
}

.header__search--mob {
  display: flex;
}

.header__mob {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__address {
  font-size: 17px;
  line-height: 22px;
}

.header__logo {
  max-width: 182px;
}

.header__logo--desktop {
  display: none;
}

.header__logo--mobile {
  display: block;
}

.header__burger {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../img/svg/svg/menu-burger.svg);
  transition: var(--ts);
}

.header__burger.active {
  background: url(../img/svg/svg/close.svg);
}

.mega-menu > .sub-menu > .menu-item-has-children {
  position: unset !important;
  flex-direction: column;
  gap: 0;
}

.mega-menu > .sub-menu > .menu-item-has-children .toggle-button {
  background-image: url(../img/svg/svg/chevron-right.svg);
}

.mega-menu > .sub-menu > .menu-item-has-children:hover {
  color: var(--secondary);
}

.mega-menu > .sub-menu > .menu-item-has-children:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}

.mega-menu > .sub-menu > .menu-item-has-children > .sub-menu {
  background: #fff;
  color: var(--text);
  top: 0;
  right: calc(-100% - 24px);
  padding: 24px 24px 24px 48px;
  border-radius: 0 24px 24px 0;
  z-index: -1;
}

.mega-menu > .sub-menu > .menu-item-has-children > .sub-menu > .menu-item:hover,
.menu > .menu-item-has-children:not(.mega-menu) > .sub-menu > .menu-item:hover {
  color: var(--secondary);
}

.mega-menu > .sub-menu > .menu-item-has-children > .sub-menu > .menu-item::before,
.menu > .menu-item-has-children:not(.mega-menu) > .sub-menu > .menu-item::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: var(--secondary);
  margin: 9px;
}

.menu-item-has-children .sub-menu {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 0.3s;
  padding: 0;
}

.menu-item-has-children .sub-menu.active {
  width: 100%;
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: height 0.3s;
  box-shadow: none;
  position: unset;
  margin: 0 auto;
  min-width: -moz-max-content;
  min-width: max-content;
}

.toggle-button {
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background: #FFF;
  box-shadow: 0px -2px 8px 0px rgba(32, 61, 165, 0.15);
  padding: 24px 0;
}

.footer__row {
  margin-bottom: 40px;
}

.footer__line {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--light-black);
  font-size: 20px;
  line-height: 26px;
}

.footer__callback {
  color: var(--primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.footer__address {
  gap: 12px;
}

.footer__address span {
  max-width: 280px;
}

.footer__number {
  margin-bottom: 16px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
}

.footer__links.socials {
  gap: 16px;
}

.footer__links.payment {
  gap: 24px;
}

.footer__text {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
}

.footer__cell {
  margin-bottom: 24px;
}

.footer__cell:last-child {
  margin-bottom: 0;
}

.footer__summary {
  display: flex;
  color: var(--primary);
  font-weight: 700;
  line-height: 24px;
}

.footer__col {
  margin-bottom: 40px;
}

.footer__logo {
  max-width: 183px;
  margin-bottom: 25px;
}

.footer__column-3 .footer-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.footer__left {
  margin-bottom: 24px;
}

.footer__copy {
  border-top: 1px solid var(--border-line);
  padding-top: 24px;
}

.footer__about {
  color: var(--gray-text);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 16px;
}

.footer__about p {
  margin-bottom: 24px;
}

.footer__about p:last-child {
  margin-bottom: 0;
}

.footer__copyright {
  text-align: center;
}

.footer__rights {
  color: var(--inactive-breadcrumbs);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.footer__warning {
  color: var(--warning);
  font-size: 24px;
  line-height: 28px;
}

.footer__health {
  display: flex;
  gap: 16px;
  font-size: 17px;
  line-height: 22px;
}

.footer__health--text {
  color: #000;
  max-width: 216px;
  margin-bottom: 8px;
}

.footer__health--link {
  font-weight: 700;
  color: var(--active-breadcrumbs);
}

.footer-menu {
  margin-bottom: 0;
}

.footer-menu .sub-menu {
  color: var(--text);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 16px;
}

.footer-menu .sub-menu .menu__item {
  margin-bottom: 8px;
}

.footer-menu .sub-menu .menu__item:last-child {
  margin-bottom: 0;
}

.footer-menu > .menu__item {
  color: var(--primary);
  font-weight: 700;
  line-height: 24px;
}

.footer-menu .menu-item-has-children > a::after {
  content: "";
  display: block;
  width: 9px;
  height: 10px;
  transform: rotate(0deg);
  margin-left: 8px;
  background-image: url(../img/ico-arrow-bottom.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.breadcrumbs {
  padding-top: 16px;
  font-size: 17px;
  line-height: 22px;
}

.breadcrumbs__link {
  color: var(--inactive-breadcrumbs);
}

.breadcrumbs__current {
  color: var(--active-breadcrumbs);
}

.breadcrumbs__separator {
  padding: 0 8px;
  color: var(--inactive-breadcrumbs);
}

.btn {
  display: block;
  box-sizing: border-box;
  padding: 18px 32px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 40px;
  text-align: center;
  transition: var(--ts);
  cursor: pointer;
}

.btn.small {
  width: 100%;
}

.btn-primary {
  color: var(--bg-grayscale);
  background: var(--primary);
  padding: 8px 24px;
}

.btn-primary:hover,
.btn-primary:active {
  background: var(--dark);
}

.btn-primary:focus {
  outline: 8px solid #DAE9FF;
}

.btn-secondary {
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 24px;
}

.btn-secondary:hover,
.btn-secondary:active {
  border: 2px solid var(--dark);
  color: var(--dark);
}

.slider-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 16px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
}

.slider-btn-prev,
.slider-btn-next {
  position: unset !important;
  margin-top: 0 !important;
  width: auto !important;
  height: auto !important;
  color: var(--primary) !important;
}

.slider-btn-prev::after,
.slider-btn-next::after {
  content: none !important;
}

.slider-btn-prev svg path,
.slider-btn-next svg path {
  fill: var(--primary);
}

.slider-btn-prev.swiper-button-disabled,
.slider-btn-next.swiper-button-disabled {
  opacity: 0.4 !important;
}

.doctors__slider .btn-secondary {
  margin-bottom: 16px;
}

.doctors__name {
  color: var(--text);
  font-size: 24px;
  line-height: 28px;
}

.doctors__spec {
  color: var(--primary);
  font-size: 17px;
  line-height: 22px;
  padding: 8px 0;
}

.doctors__item {
  padding: 24px 16px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
}

.doctors__item .btn {
  width: 100%;
}

.doctors__point {
  position: relative;
  display: flex;
  gap: 4px;
}

.doctors__point::before {
  content: "";
  display: block;
  width: 6px;
  min-width: 6px;
  height: 6px;
  background: var(--secondary);
  border-radius: 50%;
  margin: 9px;
}

.doctors__photo {
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 16px;
}

.appointment {
  text-align: center;
}

.appointment__row {
  overflow: hidden;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(24, 109, 228, 0.15);
}

.appointment__left {
  padding: 24px 16px 0;
}

.appointment__img--mob {
  margin-top: -10px;
  margin-left: auto;
}

.appointment__img--desktop {
  display: none;
}

.appointment__title {
  color: var(--primary);
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.appointment__subtitle {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

.appointment__number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--secondary);
  font-weight: 700;
  line-height: 24px;
}

.appointment__call {
  margin-bottom: 24px;
}

.appointment__text {
  color: var(--gray-text);
  font-size: 17px;
  line-height: 22px;
  margin-top: 16px;
}

.appointment__text a {
  color: var(--primary);
}

.review__item {
  padding: 24px 16px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 71, 187, 0.1), 1px 1px 8px 0px rgba(0, 71, 187, 0.1);
}

.review__row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.review__date {
  color: var(--gray-text);
  font-size: 17px;
  line-height: 22px;
}

.review__doctor {
  margin-bottom: 16px;
}

.review__doctor a {
  color: var(--primary);
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 16px;
}

.review__text {
  color: #000;
  font-size: 17px;
  line-height: 22px;
}

.article-preview__info {
  display: flex;
  gap: 24px;
}

.article-preview__block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.article-preview__block span {
  color: var(--gray-text);
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
}

.article-preview__description {
  color: #000;
  margin-top: 8px;
  margin-bottom: 8px;
}

.article-preview__img {
  border-radius: 24px;
  overflow: hidden;
}

.screen-1__row {
  margin-bottom: 40px;
}

.screen-1__right {
  display: none;
}

.screen-1__img--mob {
  margin-bottom: 24px;
}

.screen-1__btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.screen-1__point {
  display: flex;
  gap: 8px;
}

.screen-1__left {
  display: flex;
  flex-direction: column;
}

.screen-1__left .title-h2 {
  margin-bottom: 24px;
}

.screen-1__price {
  width: -moz-max-content;
  width: max-content;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 4px 24px;
  border-radius: 8px;
  border: 1px solid var(--secondary);
  margin-bottom: 16px;
}

.screen-1__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.screen-2 .title-h2 {
  margin-bottom: 24px;
}

.screen-2__point {
  display: flex;
  gap: 8px;
}

.screen-2__point::before {
  content: "";
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.screen-2__point--include::before {
  background: url(../img/svg/svg/include.svg);
}

.screen-2__point--exclude::before {
  background: url(../img/svg/svg/exclude.svg);
}

.screen-2__item {
  padding: 16px 24px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 12px 0px rgba(24, 109, 228, 0.15);
  margin-bottom: 16px;
}

.screen-2__item .btn {
  width: 100%;
}

.screen-2__item:last-child {
  margin-bottom: 0;
}

.screen-2__item-2 .screen-2__title {
  color: var(--primary);
  font-weight: bold;
}

.screen-2__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.screen-2__title {
  margin-bottom: 8px;
}

.screen-3__banner {
  overflow: hidden;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
}

.screen-3__banner .btn {
  margin: 0 16px;
}

.screen-3__title {
  padding: 24px 16px 0 16px;
  color: var(--secondary);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 16px;
}

.screen-3__text {
  padding: 0 16px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}

.screen-3__img--left,
.screen-3__img--right {
  display: none;
}

.screen-3__img--left {
  left: 0;
}

.screen-3__img--right {
  right: 0;
}

.screen-3__img--mob {
  margin-top: -100px;
  margin-left: auto;
}

.screen-3__content {
  position: relative;
  z-index: 1;
}

.screen-4 .title-h2 {
  margin-bottom: 24px;
}

.screen-4__grid {
  display: grid;
  gap: 24px;
}

.screen-4__item {
  display: flex;
  gap: 16px;
}

.screen-4__left {
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 0.5px 8px 0px rgba(24, 109, 228, 0.2);
}

.screen-4__subtitle {
  color: var(--primary);
  font-weight: 700;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.screen-4__description {
  font-size: 17px;
  line-height: 22px;
}

.screen-5 .title-h2 {
  margin-bottom: 24px;
}

.screen-5__row {
  margin-bottom: 30px;
}

.screen-5__left {
  margin-bottom: 16px;
}

.screen-5__right img {
  margin: 0 auto;
}

.screen-5__text {
  font-size: 17px;
  line-height: 22px;
}

.screen-5__text p:last-child {
  margin-bottom: 0;
}

.screen-7 .title-h2 {
  margin-bottom: 24px;
}

.screen-7__right {
  display: none;
}

.details-open .summary-inner {
  max-height: 0;
  transition: var(--ts);
  overflow: hidden;
}

.details-open .summary-open .summary-inner {
  max-height: 100%;
  transition: var(--ts);
}

.details {
  padding: 9px 16px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
  margin-bottom: 16px;
  overflow: hidden;
  transition: var(--ts);
}

.details:last-child {
  margin-bottom: 0;
}

.details.active .summary__text {
  color: var(--primary);
  font-weight: 700;
  transition: var(--ts);
}

.details.active .summary__icon {
  background: url(../img/svg/svg/spoiler-close.svg);
  transition: var(--ts);
}

.details.active .summary-inner {
  margin-top: 10px;
}

.summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.summary__icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../img/svg/svg/spoiler-open.svg);
  display: block;
  margin-left: 8px;
}

.summary-inner {
  color: var(--grayscale);
}

.screen-8 .title-h2 {
  margin-bottom: 24px;
}

.screen-8 .description {
  margin-bottom: 24px;
}

.screen-8__row {
  padding: 16px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(24, 109, 228, 0.15);
  margin-bottom: 16px;
}

.screen-8__row:last-child {
  margin-bottom: 0;
}

.screen-8__row .btn {
  width: 100%;
}

.screen-8__head {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
}

.screen-8__discount {
  color: var(--secondary);
  text-align: center;
  padding: 7px 6px 5px 6px;
  border-radius: 40px;
  border: 2px solid var(--secondary);
}

.screen-8__price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  line-height: 24px;
}

.screen-8__price--mob {
  display: flex !important;
}

.screen-8__price--desktop {
  display: none !important;
}

.screen-8__title {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}

.screen-8__right {
  min-width: 24px;
}

.screen-10 {
  color: var(--white-content);
}

.screen-10__banner {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  background: #377AD7;
}

.screen-10__banner .btn {
  background: var(--white-content);
  color: var(--primary);
}

.screen-10__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.screen-10__info {
  margin-bottom: 40px;
}

.screen-10__img--mob {
  display: block;
  width: 100%;
  margin-top: -85px;
}

.screen-10__img--desktop {
  display: none;
}

.screen-10__point {
  position: relative;
  display: flex;
  gap: 8px;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.screen-10__point:last-child {
  margin-bottom: 0;
}

.screen-10__point::before {
  content: "";
  width: 6px;
  min-width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--white-content);
  margin: 9px;
}

.screen-10__title {
  color: var(--white-content);
  margin-bottom: 16px;
}

.screen-10__left {
  position: relative;
  z-index: 1;
  padding: 24px 16px;
}

.screen-11 .title-h2 {
  margin-bottom: 16px;
}

.screen-11__text {
  margin-bottom: 16px;
}

.screen-11__map {
  margin: 0 -24px;
  min-width: 100vw;
}

.screen-12__row {
  border-bottom: 2px solid var(--border-line);
  border-style: dashed;
}

.screen-12__info {
  padding-top: 16px;
}

.screen-12__title {
  color: var(--primary);
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.screen-12__item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}

.screen-12__item:last-child {
  margin-bottom: 0;
}

.screen-12__text {
  color: #484848;
  font-size: 17px;
  line-height: 22px;
}

.screen-12__left {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 24px;
}

.screen-12__left p:last-child {
  margin-bottom: 0;
}

.screen-12__right {
  margin-bottom: 24px;
}

a.screen-12__text {
  color: var(--primary);
  text-decoration-line: underline;
}

.screen-13__block {
  padding: 16px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(24, 109, 228, 0.15);
}

.screen-13__left .summary-inner {
  margin-bottom: 0 !important;
}

.screen-13__left .summary-inner ol {
  margin-bottom: 0;
}

.screen-13__left .summary-inner ol ol {
  margin-left: 20px;
}

.screen-13__left figure {
  margin: 40px 0;
}

.screen-13__left figcaption {
  margin-top: 16px;
}

.screen-13__left .details {
  margin-bottom: 40px;
}

.screen-13__left h3 {
  margin-bottom: 20px;
}

.screen-13__left ul {
  margin: 16px 0;
}

.screen-13__left span {
  margin-bottom: 8px;
}

.screen-13__left > div {
  margin-bottom: 40px;
}

.screen-13__left > div:nth-last-child(2) {
  margin-bottom: 0;
}

.screen-13__left p:last-child,
.screen-13__left span:last-child,
.screen-13__left ul:last-child,
.screen-13__left div:last-child {
  margin-bottom: 0;
}

.screen-13__right {
  display: none;
}

.quote {
  padding: 16px 16px 24px 16px;
  border-radius: 20px;
  background: var(--bg-main);
  box-shadow: 0px 0px 12px 0px rgba(24, 109, 228, 0.15);
  margin: 40px 0;
}

.quote__left {
  display: block;
  width: 160px;
  min-width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 8px;
}

.quote__quote {
  margin-bottom: 16px;
}

.quote__text {
  margin-bottom: 16px;
}

.quote__name,
.quote__about {
  font-size: 17px;
  line-height: 22px;
}

.quote__name {
  color: var(--primary);
}

.warning {
  margin: 24px 0;
  border-radius: 12px;
  padding: 16px 24px 16px 16px;
}

.warning.red {
  background: #FEF3F2;
}

.warning.red span {
  color: var(--negative);
}

.warning.red span::before {
  background: url(../img/svg/svg/warning-1.svg);
}

.warning.blue {
  background: #F0FBFF;
}

.warning.blue span {
  color: var(--primary);
}

.warning.blue span::before {
  background: url(../img/svg/svg/warning-2.svg);
}

.warning.green {
  background: #F0FEDF;
}

.warning.green span {
  color: var(--possitive);
}

.warning.green span::before {
  background: url(../img/svg/svg/warning-3.svg);
}

.warning.yellow {
  background: #FFF9E4;
}

.warning.yellow span {
  color: var(--average);
}

.warning.yellow span::before {
  background: url(../img/svg/svg/warning-4.svg);
}

.warning p,
.warning a {
  margin-left: 32px;
}

.warning span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

.warning span::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.source-block {
  display: none;
}

.source-block .title-h3 {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--border-line);
  border-style: dashed;
}

.screen-14__photo {
  width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 8px;
}

.screen-14__row {
  margin-bottom: 24px;
}

.screen-14__share {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 8px 24px;
}

.screen-14__author,
.screen-14__share,
.screen-14__rating {
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
}

.screen-14__rating {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 24px;
  margin-bottom: 8px;
}

.screen-14__item {
  color: #000;
}

.screen-14__author {
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 8px;
}

.screen-14__author:last-child {
  margin-bottom: 0;
}

.screen-14__status {
  color: var(--primary);
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 4px;
}

.screen-14__name {
  margin-bottom: 4px;
}

.screen-14__about {
  font-size: 17px;
  line-height: 22px;
}

.stars {
  display: flex;
  gap: 2px;
}

.screen-15 .title-h2 {
  margin-bottom: 24px;
}

.screen-15__row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

body {
  background: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Circe", serif;
  color: var(--text);
}

.overflow-hidden {
  overflow: hidden;
}

.doctors__slider,
.review__slider,
.screen-9__slider {
  padding: 8px 24px 8px 8px !important;
  margin: -8px -24px -8px -8px !important;
}

.anchor {
  position: absolute;
  top: -63.64px;
}

.top {
  position: fixed;
  display: flex;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid var(--primary);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: var(--ts);
}

.top.active {
  opacity: 1;
  visibility: visible;
}

.hidden {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.section {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-bg {
  background: var(--bg-secondary);
}

.title__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.title-h2 {
  font-size: 36px;
  line-height: 1;
}

.title-h3 {
  font-size: 26px;
  line-height: 30px;
}

.title-banner {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

.description {
  color: var(--text, #161515);
  font-size: 17px;
  line-height: 22px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  flex: auto;
  text-align: center;
  color: #000;
  font-size: 17px;
  line-height: 22px;
  padding: 7px 24px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
  cursor: pointer;
}

.tabs {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
  margin-bottom: 8px;
}

.tab {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 24px;
  border-radius: 12px;
  background: #FFF;
  cursor: pointer;
}

.tab.active {
  background: var(--primary);
  color: #fff;
}

.tab-content {
  display: none;
  padding: 16px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
}

.tab-content p:last-child {
  margin-bottom: 0;
}

.tab-content ul {
  list-style: disc !important;
  padding-left: 26px !important;
}

.list-blue,
.list-red {
  margin-bottom: 0;
}

.list-blue li,
.list-red li {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}

.list-blue li:last-child,
.list-red li:last-child {
  margin-bottom: 0;
}

.list-blue li::before,
.list-red li::before {
  content: "";
  width: 6px;
  min-width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 9px;
}

.list-blue li::before {
  background: var(--primary);
}

.list-red li::before {
  background: var(--secondary);
}

.list-number {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-number li {
  counter-increment: list-counter;
  margin-bottom: 8px;
}

.list-number li::last-child {
  margin-bottom: 0;
}

.list-number li::before {
  content: counter(list-counter);
  display: inline-block;
  width: 28px;
  padding-right: 12px;
  text-align: right;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.item-mob.active .item-mob__content {
  max-height: 100%;
  opacity: 1;
  visibility: visible;
  margin-bottom: 16px;
}

.item-mob.active .item-mob__head svg {
  transform: rotate(-180deg);
}

.item-mob.active .item-mob__head svg path {
  fill: var(--primary);
}

.item-mob__content {
  position: relative;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: var(--ts);
}

.item-mob__head {
  cursor: pointer;
}

.item-mob__head svg {
  transition: var(--ts);
}

.price {
  display: flex;
  gap: 8px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.price-old {
  color: var(--gray);
  text-decoration: line-through;
}

.price-new {
  color: var(--secondary);
}

.price-discount {
  color: var(--secondary);
  text-align: center;
  padding: 2px 3px 2px 3px;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
  line-height: 1;
  border-radius: 12px;
  border: 2px solid var(--secondary);
  height: -moz-max-content;
  height: max-content;
}

/* END STYLES */

@media (min-width: 540px) {
  .screen-2__item .btn {
    width: -moz-max-content;
    width: max-content;
    min-width: 280px;
    margin: 0 auto;
  }

  .screen-3__banner .btn {
    width: -moz-max-content;
    width: max-content;
    margin: auto;
  }

  .screen-8__row .btn {
    width: -moz-max-content;
    width: max-content;
  }

  .screen-10__img--mob {
    display: none;
  }

  .screen-15__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (min-width: 767px) {
  .header__nav {
    padding-left: calc((100% - 738px) / 2 + 15px);
    padding-right: calc((100% - 738px) / 2 + 15px);
  }

  .breadcrumbs {
    padding-top: 24px;
  }

  .btn.small {
    width: -moz-max-content;
    width: max-content;
  }

  .appointment .btn {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }

  .appointment__left {
    max-width: 540px;
    margin: 0 auto;
  }

  .screen-1__btns {
    flex-direction: row;
  }

  .screen-1__btns .btn {
    min-width: 296px;
  }

  .screen-3__banner {
    display: flex;
  }

  .screen-4__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .screen-11__map {
    margin: 0;
    min-width: 100%;
    border-radius: 32px;
    box-shadow: 0px 0px 12px 0px rgba(24, 109, 228, 0.15);
  }

  .screen-14__authors {
    display: flex;
    gap: 40px;
  }

  .screen-14__author {
    width: 100%;
    margin-bottom: 0;
  }

  .doctors__slider,
  .review__slider,
  .screen-9__slider {
    padding: 8px 8px 8px 8px !important;
    margin: -8px -8px -8px -8px !important;
  }

  .tabs {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 991px) {
  .header__nav {
    padding-left: calc((100% - 962px) / 2 + 15px);
    padding-right: calc((100% - 962px) / 2 + 15px);
  }

  .footer__column-3 .footer-menu {
    display: block;
  }

  .footer__left {
    display: flex;
    gap: 80px;
    margin-bottom: 40px;
  }

  .footer__right {
    display: flex;
    gap: 80px;
  }

  .footer__content {
    display: flex;
    gap: 32px;
  }

  .footer__copy {
    padding-top: 16px;
  }

  .footer__about {
    margin-bottom: 40px;
  }

  .footer__copyright {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .footer__rights {
    order: 2;
    margin-bottom: 0;
  }

  .footer__warning {
    order: 1;
  }

  .footer-menu > .menu__item {
    margin-bottom: 16px;
  }

  .footer-menu > .menu__item:last-child {
    margin-bottom: 0;
  }

  .btn-primary {
    padding: 14px 32px;
  }

  .btn-secondary {
    padding: 12px 32px;
  }

  .screen-1__text {
    margin-bottom: 40px;
    max-width: 758px;
  }

  .screen-1__btns .btn-primary {
    order: 2;
  }

  .screen-1__btns .btn-secondary {
    order: 1;
  }

  .screen-1__price {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .screen-1__info {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 24px;
  }

  .screen-3__title {
    font-size: 38px;
    line-height: 48px;
  }

  .screen-4__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .screen-4__left {
    min-width: 48px;
    width: 48px;
    height: 48px;
    padding: 12px;
  }

  .screen-5__row {
    display: flex;
    gap: 16px;
    margin-bottom: 60px;
  }

  .screen-5__left {
    margin-bottom: 0;
  }

  .screen-5__right img {
    margin: 0;
  }

  .screen-7__left {
    width: 100%;
  }

  .screen-7__right {
    display: block;
  }

  .screen-7__row {
    display: flex;
    gap: 40px;
  }

  .screen-10__banner {
    display: flex;
  }

  .screen-10__img--desktop {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .screen-10__left {
    padding: 40px 0 40px 50px;
  }

  .screen-11 .title-h2 {
    margin-bottom: 40px;
  }

  .screen-11__text {
    margin-bottom: 40px;
  }

  .screen-12__info {
    display: flex;
    align-items: flex-start;
    gap: 48px;
  }

  .screen-12__item {
    margin-bottom: 0;
  }

  .quote {
    padding: 24px 44px 24px 24px;
    display: flex;
    gap: 40px;
  }

  .quote__left {
    order: 2;
  }

  .quote__right {
    order: 1;
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  .screen-14__photo {
    margin: 0;
    width: 140px;
    min-width: 140px;
    height: 140px;
  }

  .screen-14__author {
    padding: 16px 24px;
    display: flex;
    gap: 24px;
    text-align: left;
  }

  .screen-14__status {
    margin-bottom: 8px;
  }

  .screen-14__name {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  .screen-14__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .screen-15__row {
    grid-template-columns: repeat(4, 1fr);
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title__row {
    margin-bottom: 40px;
  }

  .title-h2 {
    font-size: 48px;
    line-height: 56px;
  }

  .title-h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .tags {
    gap: 16px;
  }

  .tag {
    padding: 6px 24px;
    flex: unset;
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: 1170px) {
  .screen-1__row {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: calc((100% - 1230px) / 2 + 15px);
    padding-right: calc((100% - 1230px) / 2 + 15px);
  }

  .header {
    padding: 20px 0 16px;
  }

  .header__row {
    gap: 40px;
  }

  .header__nav {
    position: unset;
    overflow: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 0;
    width: 100%;
  }

  .header__nav.hidden {
    display: flex !important;
  }

  .header__nav .header__contact {
    order: 2;
    margin-bottom: 0;
  }

  .header__nav .header__center {
    order: 1;
  }

  .header__nav .header__info {
    order: 1;
  }

  .header__nav .header__menu {
    order: 2;
    margin-bottom: 0;
  }

  .header__info {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 19px;
  }

  .header__city {
    margin-bottom: 0;
  }

  .header__call {
    justify-content: flex-end;
  }

  .header__menu .menu {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 24px;
  }

  .header__menu .menu > .menu-item-has-children {
    flex-direction: row;
  }

  .header__menu .menu .sub-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    display: block;
    height: unset;
  }

  .header__menu .menu .menu-item {
    width: auto;
    align-items: center;
  }

  .header__menu .menu > .menu-item-has-children > a::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/svg/svg/arrow-mobile.svg);
  }

  .header__menu .menu > .menu-item-has-children:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
  }

  .header__menu .menu > .menu-item-has-children > .sub-menu {
    background: #fff;
    padding: 24px;
    width: -moz-max-content;
    width: max-content;
    left: -24px;
    top: 40px;
    border-radius: 24px;
    box-shadow: 0px 0px 12px 0px rgba(24, 109, 228, 0.15);
    z-index: 110;
  }

  .header__location,
  .header__top {
    display: flex;
    align-items: center;
  }

  .header__location {
    gap: 60px;
  }

  .header__top {
    width: 100%;
    justify-content: space-between;
  }

  .header__search {
    display: block;
    padding: 10px 16px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(24, 109, 228, 0.15);
  }

  .header__mob {
    display: none;
  }

  .header__logo {
    max-width: 220px;
  }

  .header__logo--desktop {
    display: block;
    margin-left: -6px;
  }

  .header__logo--mobile {
    display: none;
  }

  .mega-menu > .sub-menu > .menu-item-has-children {
    gap: 8px;
  }

  .mega-menu > .sub-menu > .menu-item-has-children:hover > a::after {
    background: url(../img/svg/svg/chevron-right-active.svg);
  }

  .mega-menu > .sub-menu > .menu-item-has-children > a::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/svg/svg/chevron-right.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mega-menu > .sub-menu > .menu-item-has-children > .sub-menu::before {
    content: "";
    position: absolute;
    left: 24px;
    top: 24px;
    width: 1px;
    height: calc(100% - 48px);
    display: block;
    background: var(--border-line);
  }

  .footer__row {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  .footer__info {
    display: flex;
    justify-content: space-between;
  }

  .footer__column {
    padding: 0 40px 0 24px;
  }

  .footer__left {
    margin-bottom: 0;
  }

  .footer__right {
    display: block;
  }

  .footer__summary svg {
    display: none;
  }

  .footer__health--link {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }

  .appointment {
    text-align: left;
  }

  .appointment__row {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 40px;
  }

  .appointment__left {
    max-width: 472px;
    padding: 40px 0;
  }

  .appointment__img--mob {
    display: none;
  }

  .appointment__img--desktop {
    display: block;
  }

  .appointment__subtitle {
    margin-bottom: 0;
  }

  .appointment__call {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
  }

  .screen-1__right {
    display: block;
  }

  .screen-1__img--mob {
    display: none;
  }

  .screen-1__text {
    order: 4;
  }

  .screen-1__btns {
    order: 5;
    margin-bottom: 0;
  }

  .screen-1__left .title-h2 {
    order: 1;
    margin-bottom: 8px;
  }

  .screen-1__price {
    order: 2;
  }

  .screen-1__info {
    order: 3;
    margin-bottom: 26px;
  }

  .screen-2 .title-h2 {
    margin-bottom: 40px;
  }

  .screen-2__right {
    display: none;
  }

  .screen-2__item {
    border-radius: 32px;
    margin-bottom: 0;
  }

  .screen-2__grid {
    display: grid;
    grid-template-columns: 1fr 492px 1fr;
    gap: 24px;
  }

  .screen-2__title {
    font-size: 28px;
    line-height: 36px;
  }

  .screen-2__left {
    width: 100%;
    text-align: center;
  }

  .screen-3__banner {
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .screen-3__banner .btn {
    margin: 0;
    width: 362px;
    margin: 0 auto;
  }

  .screen-3__title {
    padding: 0;
  }

  .screen-3__text {
    padding: 0;
  }

  .screen-3__img--left,
  .screen-3__img--right {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .screen-3__img--mob {
    display: none;
  }

  .screen-3__content {
    padding: 69px 0;
  }

  .screen-5__row {
    justify-content: space-between;
    gap: 40px;
  }

  .screen-5__left {
    max-width: 800px;
  }

  .screen-5__text {
    font-size: 20px;
    line-height: 26px;
  }

  .screen-5__text p {
    margin-bottom: 36px;
  }

  .screen-8__row {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .screen-8__head {
    margin-bottom: 0;
  }

  .screen-8__price {
    gap: 24px;
  }

  .screen-8__price--mob {
    display: none !important;
  }

  .screen-8__price--desktop {
    display: flex !important;
    justify-content: flex-end;
    max-width: 240px;
    min-width: 240px;
  }

  .screen-8__title {
    margin-bottom: 0;
    max-width: 264px;
    min-width: 264px;
  }

  .screen-8__right {
    display: none;
  }

  .screen-8__content {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }

  .screen-10__point {
    line-height: 32px;
    margin-bottom: 24px;
  }

  .screen-10__title {
    margin-bottom: 24px;
  }

  .screen-10__left {
    padding: 48px 0 52px 80px;
  }

  .screen-12__row {
    display: flex;
    gap: 40px;
    padding-bottom: 40px;
  }

  .screen-12__left {
    max-width: 694px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0;
  }

  .screen-12__right {
    margin-bottom: 0;
  }

  .screen-13__row {
    display: flex;
    gap: 60px;
  }

  .screen-13__category {
    margin-bottom: 40px;
  }

  .screen-13__popular {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .screen-13__left {
    max-width: 800px;
  }

  .screen-13__left figure {
    margin: 60px 0;
  }

  .screen-13__left figcaption {
    margin-top: 8px;
  }

  .screen-13__left > div {
    margin-bottom: 60px;
  }

  .screen-13__left > div:nth-last-child(2) {
    margin-bottom: 60px;
  }

  .screen-13__right {
    display: block;
  }

  .source-block {
    display: block;
  }

  .screen-14__row {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
  }

  .screen-14__share {
    padding: 8px 24px;
    gap: 24px;
  }

  .screen-14__link img {
    width: 48px;
    min-width: 48px;
    height: 48px;
  }

  .screen-14__rating {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    margin-bottom: 0;
  }

  .anchor {
    top: -134px;
  }

  .title-cat {
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 16px;
  }

  .title-banner {
    font-size: 38px;
    line-height: 48px;
  }

  .item-mob__content:not(.summary-inner) {
    visibility: visible;
    max-height: 100%;
    opacity: 1 !important;
  }

  .item-mob__head:not(.summary) {
    cursor: auto;
  }

  .price {
    font-size: 24px;
    line-height: 32px;
    justify-content: center;
  }
}

@media (min-width: 1490px) {
  .container {
    padding-left: calc((100% - 1460px) / 2 + 15px);
    padding-right: calc((100% - 1460px) / 2 + 15px);
  }

  .header__call {
    gap: 24px;
  }

  .header__menu .menu {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .header__logo {
    max-width: 302px;
  }

  .appointment__row {
    padding-left: 115px;
    gap: 80px;
  }

  .appointment__left {
    padding: 48px 0;
  }

  .appointment__title {
    font-size: 38px;
    line-height: 48px;
  }

  .appointment__call {
    margin-bottom: 42px;
  }

  .screen-5__left {
    max-width: 874px;
  }

  .screen-13__left {
    max-width: 1040px;
  }

  .screen-14__share {
    padding: 8px 40px;
    gap: 40px;
  }

  .screen-14__rating {
    padding: 8px 40px;
  }

  .anchor {
    top: -146.77px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .container {
    padding-left: calc((100% - 962px) / 2 + 15px);
    padding-right: calc((100% - 962px) / 2 + 15px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-left: calc((100% - 738px) / 2 + 15px);
    padding-right: calc((100% - 738px) / 2 + 15px);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1280px) and (max-width: 1490px) {
  .header .btn {
    padding: 14px 24px;
  }
}

@media (min-width: 991px) and (max-width: 1280px) {
  .screen-5__right {
    display: none;
  }
}